{% extends 'layouts/base.html' %}


{% block stylesheets %}
<style>
    .all-head {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .custom-height {
        height: 300px;
        width: auto;
    }

    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        color: black;
    }

    .cus-card {
        margin-bottom: 20px;
    }

    .container-fluid {
        padding-left: 50px;
        padding-right: 50px;
    }
</style>
{% endblock stylesheets %}



{% block content %}
<div class="container-fluid">
    
    <h2 class="all-head">All Software</h2>
    <div class="row">

        {% for user in users %}
        <div class="col-lg-3 col-md-6 col-sl-12">
            <a href="#">
                <form method="post" class="card cus-card card2" style="width: 18rem;">
                    {% csrf_token %}
                    <div class="card-body">
                        <input type="hidden" name="id" value="{{user.id}}">
                        <h5 class="card-title">{{user.username}}</h5>
                        <p>Email: {{user.email}}</p>

                        {% if user.groups.all|length %}
                        <p>group: developer</p>
                        {% elif user.is_superuser %}
                        <p>group: Admin</p>
                        {% else %}
                        <p>group: user</p>
                        {% endif %}

                    </div>
                    {% if user.groups.all|length %}
                    {% elif user.is_superuser %}

                    {% else %}
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Make Developer</button>
                    </div>
                    {% endif %}
                </form>
            </a>
        </div>

        {% empty %}
        <div class="alert alert-warning text-center" role="alert">
            <h4 class="alert-heading">No Software found!</h4>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock content %}